.main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.nav{
    margin: auto;
    width: 100%;
    background-color: beige;
    padding: 10px;
    text-align: center;
}

.nav-item{
    background-color: rgba(207, 207, 207, 0.26);
    padding: 3px;
    color: grey;
}

.title{
    margin-top: 100px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%)
}