@font-face {
    font-family: "merriweather";
    src: url(fonts/Merriweather/Merriweather-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.nav{
    margin: auto;
    width: 100%;
    background-color: grey;
    padding: 10px;
    text-align: center;
}

.nav-item{

    padding: 3px;
    color: black;
}

.title{
    margin-top: 100px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%)
}

.middle-text{
    text-align: center;
}

* {
    font-family: "merriweather";
    font-weight: 100;
}