{% extends "layout.html" %}
{% block title %}
    <title>Encryptor</title>
{% endblock %}
{% block content %}
    <h1 class="title">
        Encryptor
    </h1>
    <div class="main">
        <form action="/result" method="POST">
            <fieldset>
                <p>Enter sensitive info</p>
                <input size="50" type="text" name="string">
            </fieldset>
            <fieldset>
                <p>Enter Key (Number)</p>
                <input type="text" name="key" size="3">
                <input type="submit">
            </fieldset>
        </form>
    </div>
{% endblock %}